body {
    background-color: grey;
}

.header {
    color: #bb2d17;
    font-size: 50px;
}

/* h2 {
    color: #705d5a;
    font-size: large;
} */

#headline {
    color: #705d5a;
    font-size: large;
}